  * {
    margin: 0;
    padding: 0;
    font: Arial;
  }

  @font-face {
    font-family: 'Catamaran-Regular';
    src: url('../other/fonts/Catamaran-Regular.ttf');
  }

  @font-face {
    font-family: 'Catamaran-Black';
    src: url('../other/fonts/Catamaran-Black.ttf');
  }

  body {
    font-family: 'Catamaran-Regular';
    font-size: 2vh;
    justify-content: center;
  }

  h1 {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Catamaran-Black';
    font-size: 6vh;
  }

  h2 {
    font-size: 4vh;
    font-weight: bolder;
  }

  /*----------------Banner-------------------- */

  .select {
    display: none;
  }

  #icono {
    display: none;
  }

  header {
    position: fixed;
    width: 100%;
    height: 70px;
    transition: 1s;
    z-index: 1001;
    display: flex;
    justify-content: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    transition: padding-left .5s;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  li {
    width: 50%;
    margin: 5px;
    list-style: none;
  }

  a {
    color: #86EFCC;
    margin: 5px;
    text-decoration: none;
  }

  a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  #logo {
    margin-left: 10%;
    margin-right: 10%;
    width: 250px;
    height: 250px;
    margin-top: 150px;
    transition: 1s;
    cursor: pointer;
  }

  #banner {
    width: 100%;
    background: url('../other/img/store.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  #menuMovil {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid white;
    border-radius: 6px;
    padding: 6px;
  }

  @media screen and (min-width:736px) {
    #menuMovil {
      display: none;
    }
  }

  @media screen and (max-width:736px) {
    #menuD, #menuI, #logo {
      display: none;
    }
    #menuMovil {
      display: flex;
      width: 85px;
    }
    nav {
      justify-content: space-between;
      margin-right: 2em;
      padding-top: 0;
      align-items: center;
    }
    header {
      justify-content: flex-end;
    }
    #icono{
      display: block;
      width: 200px;
      height: 200px;
      margin: auto;
      padding-top: 200px;
    }
  }

  #menuMovil i {
    margin-left: 6px;
  }

  #menuD li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #menuI li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #menu {
    -moz-transform: translateX(20em);
    -webkit-transform: translateX(20em);
    -ms-transform: translateX(20em);
    transform: translateX(20em);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-overflow-scrolling: touch;
    background: #1f1f1f;
    color: #ffffff;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    right: -20%;
    top: 0;
    width: 12em;
    z-index: 10002;
  }
  body.is-menu-visible #menu{
    right: 0;
  }

  #menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
   #menu a:hover {
      color:#86EFCC;
    }

  #menu ul>li {
    border-top: solid 1px rgba(0, 0, 0, 0.125);
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
  }

  #menu ul>li:first-child {
    border-top: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  #menu ul>li>a {
    border: 0;
    color: inherit;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.225em;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
  }

  @media screen and (max-width: 736px) {
    #menu ul>li>a {
      line-height: 3em;
    }
  }

  #menu .close {
    background-image: url("../other/img/close.svg");
    background-position: 4.85em 1em;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    display: block;
    height: 3em;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: 7em;
  }

  @media screen and (max-width: 736px) {
    #menu {
      padding: 3em 1.5em;
    }
  }

  body.is-menu-visible #page-wrapper {
    opacity: 0.35;
  }

  body.is-menu-visible #page-wrapper:before {
    display: block;
  }

  body.is-menu-visible #menu {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  /*----------------Nosotros-------------------- */

  #part1 {
    display: table;
    background-color: white;
    height: 650px;
    width: 65%;
    background-attachment: fixed;
    margin: auto;
  }

  #foto {
    width: 30vw;
    height: 40vh;
    margin-right: 20px;
    margin-left: 20px;
  }

  #part1 p {
    margin-top: 25px;
  }

  .contenido {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    width: 60%;
  }

  .colocacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /*----------------Servicios-------------------- */

  #part2A {
    display: table;
    background-image: url('../other/img/shop.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3vh;
  }

  #part2B {
    display: table;
    text-align: center;
    background-color: white;
    background-attachment: fixed;
    height: 750px;
    width: 70%;
    margin: auto;
  }

  .servicios {
    display: flex;
    flex-direction: row;
  }

  .servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .servicio img {
    height: 30%;
    width: 40%;
  }

  .servicio p {
    width: 60%;
    margin: 0;
    text-align: justify;
  }

  /*----------------Tienda-------------------- */

  #part3A {
    display: table;
    background-image: url('../other/img/shirts.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3vh;
  }

  #part3B {
    display: table;
    text-align: center;
    background-color: white;
    background-attachment: fixed;
    height: 750px;
    width: 65%;
    margin: auto;
  }

  #part3B a {
    position: static;
  }

  /*----------------Contacto-------------------- */

  #part4A {
    display: table;
    background-image: url('../other/img/write.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3vw;
  }

  #part4B {
    display: table;
    background-color: white;
    background-attachment: fixed;
    height: 750px;
    width: 70%;
    margin: auto;
  }

  .contacto {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
  }

  .mensaje {
    width: 40%;
    padding-top: 100px;
  }

  .informacion {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .informacion ul {
    display: flex;
    flex-direction: column;
  }

  textarea {
    resize: none;
    height: 200px;
  }

  #mapa {
    width: 100%;
    height: 250px;
    background-color: grey;
  }

  /*----------------Footer-------------------- */

  footer {
    height: 200px;
    background-color: #1f1f1f;
  }

  /*--------------Medias query----------------*/

  @media only screen and (max-width: 1450px) {
    #logo {
      width: 175px;
      height: 175px;
    }
    /*--------Contacto--------- */
    .contacto {
      flex-direction: column;
      width: 100%;
    }
    .mensaje {
      width: 100%;
      padding-bottom: 100px;
    }
    .informacion {
      flex-wrap: nowrap;
      width: 100%;
    }
    .informacion p {
      margin-top: 10px;
    }
    #mapa {
      height: 300px;
      background-color: grey;
    }
  }

  @media only screen and (max-width: 1300px) {
    .colocacion {
      display: flex;
      flex-direction: column;
    }

    #foto{
      width: 70%;
      height: 50%;
      margin: auto;
    }
  }
