  *{
    margin: 0;
    padding: 0;
    font: Arial;
  }
  @font-face {
    font-family: 'Catamaran-Regular';
    src: url('../other/fonts/Catamaran-Regular.ttf');
  }
  @font-face {
    font-family: 'Catamaran-Black';
    src: url('../other/fonts/Catamaran-Black.ttf');
  }

  body{
    font-family: 'Catamaran-Regular';
    font-size: 2vh;
    justify-content: center;
  }

  h1{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Catamaran-Black';
    font-size: 5vw;
  }

  h2{
    font-size: 4vh;
    font-family: 'Catamaran-Black';
  }
/*----------------Banner-------------------- */
  header{
    position: fixed;
    width: 100%;
    height: 70px;
    transition: 1s;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    transition: padding-left .5s;
  }

  ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  li{
    width: 50%;
    list-style: none;
    margin-left: 20px;
  }

  a{
    color: #86EFCC;
    margin: 5px;
    text-decoration: none;
  }

  a:hover{
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  #logo{
    margin-left: 10%;
    margin-right: 10%;
    width: 250px;
    height: 250px;
    margin-top: 150px;
    transition: 1s;
    cursor: pointer;
  }

  #banner{
    width: 100%;
    background: url('../other/img/store.jpg') no-repeat 50% 50%;
    background-size: cover;
  }
  /*----------------Nosotros-------------------- */
  #part1{
    display: table;
    background-color: white;
    height: 650px;
    width: 65%;
    background-attachment: fixed;
    margin: auto;
  }

  #foto{
    width: 30vw;
    height: 40vh;
    margin-right: 20px;
  }

  #part1 p{
    margin-top: 25px;
  }

  .contenido{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    width: 60%;
  }

  .colocacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

/*----------------Servicios-------------------- */
  #part2A{
    display: table;
    background-image: url('../other/img/shop.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    width: 100%;
    text-align: center;
    color:white;
    font-size: 3vh;
  }

  #part2B{
    display: table;
    text-align: center;
    background-color: white;
    background-attachment: fixed;
    height: 750px;
    width:70%;
    margin: auto;
  }

  .servicios{
    display: flex;
    flex-direction: row;
  }

  .servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .servicio img {
    height: 30%;
    width: 40%;
  }

  .servicio p {
    width: 60%;
    margin: 0;
    text-align: justify;
  }

  /*----------------Tienda-------------------- */

  #part3A{
    display: table;
    background-image: url('../other/img/shirts.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    width: 100%;
    text-align: center;
    color:white;
    font-size: 3vh;
  }

  #part3B{
    display: table;
    text-align: center;
    background-color: white;
    background-attachment: fixed;
    height: 750px;
    width:65%;
    margin: auto;
  }

  /*----------------Contacto-------------------- */
  #part4A{
    display: table;
    background-image: url('../other/img/write.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    width: 100%;
    text-align: center;
    color:white;
    font-size: 3vw;
  }

  #part4B{
    display: table;
    background-color: white;
    background-attachment: fixed;
    height: 750px;
    width: 70%;
    margin: auto;
  }
  .contacto{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
  }

  .mensaje{
    width: 40%;
    padding-top: 100px;
  }

  .informacion{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .informacion ul{
    display: flex;
    flex-direction: column;
  }

  textarea{
    resize: none;
    height: 200px;
  }

  #mapa {
    width: 100%;
    height: 250px;
    background-color: grey;
  }

    /*----------------Footer-------------------- */

    footer{
      height: 200px;
      background-color: #1f1f1f;
    }

    /*--------------Medias query----------------*/

    @media screen and (max-width: 1450px) {

            /*-------Nosotros-------- */
      .contenido{
        width: 70%;
        padding-top: 5%;
        padding-bottom: 5%;
      }

      .colocacion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
      }

      .colocacion p, .colocacion h2{
        width: 75%;
        margin: auto;
      }

      .colocacion h2{
        padding-bottom: 10px;
      }

      #foto{
        width: 75%;
        height: 60%;
        margin: auto;
        margin-top: 20px;
      }

         /*--------Servicios--------- */

         #part2B{
           height: 650px;
         }
      .servicios{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .servicio {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
      }

      .servicio img {
        height: 10%;
        width: 15%;
      }
        /*--------Tienda--------- */

    }

    @media screen and (max-width: 1200px) {

        /*--------Contacto--------- */
        .contacto{
          flex-direction: column;
          width: 100%;
        }

        .mensaje{
          width: 100%;
          padding-bottom: 100px;
        }

        .informacion{
          flex-wrap: nowrap;
          width: 100%;
        }
        .informacion p{
          margin-top: 10px;
        }

        #mapa {
          width: 100%;
          height: 300px;
          background-color: grey;
        }

    }

    @media screen and (max-width: 600px) {
      .contenido{
        width: 90%;
        padding-top: 5%;
        padding-bottom: 5%;
      }
    }
